{% extends 'base.html.twig' %}

{% block title %}Compte{% endblock %}

{% block body %}
    <h1>Compte</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ compte.id }}</td>
            </tr>
            <tr>
                <th>NumC</th>
                <td>{{ compte.numC }}</td>
            </tr>
            <tr>
                <th>StatutC</th>
                <td>{{ compte.statutC }}</td>
            </tr>
            <tr>
                <th>Solde</th>
                <td>{{ compte.solde }}</td>
            </tr>
            <tr>
                <th>Dateouverture</th>
                <td>{{ compte.dateouverture ? compte.dateouverture|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_compte_index') }}">back to list</a>

    <a href="{{ path('app_compte_edit', {'id': compte.id}) }}">edit</a>

    {{ include('compte/_delete_form.html.twig') }}
{% endblock %}
